# Runtime data / volumes
**/postgres/
**/pgdata/
**/data/

# Docker state
**/config/**/*
!**/config/**/.gitkeep

# OS junk
.DS_Store

.env

# Service runtime volumes
services/etc-pihole/
services/pihole/
services/immich/
services/prowlarr/
